<header>
    <div class="navbar-wrapper main-nav">
        <nav id="index-nav" class="navbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-naver" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-navicon"></span>
                    </button>

                    <div id="main-nav" class="collapse navbar-collapse">
                        <a class="navbar-brand" href="/">TW</a>
                        <ul class="nav navbar-nav">
                        <% for (var i in theme.menu){ %>
                            <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                        <% } %>
                        </ul>
                    </div>
                </div>

                <div class="nav navbar-nav navbar-right">
                    <nav id="sub-nav">
                        <% if (theme.rss){ %>
                            <a id="nav-rss-link" class="nav-icon" href="<%- theme.rss %>" title="<%= __('rss_feed') %>"></a>
                        <% } %>
                        <a id="nav-search-btn" class="nav-icon" title="<%= __('search') %>"></a>
                    </nav>
                    <div id="search-form-wrap">
                        <%- search_form({button: '&#xF002;'}) %>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>